.snake {
  background-color: rgb(66, 66, 66);
  border-radius: 3px;
}

.food {
  background-color: rgb(104, 30, 224);
  border-radius: 5px;
}

.animate-food {
  animation: animateFood 2s infinite;
}

@keyframes animateFood {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
